<h1>Welcome {{ username }}!</h1>

<p>
    You signed up as {{ username }} the following email:
</p>
<p><code>{{ email }}</code></p>

<p>
    <a href="{{ absolute_url(path('reset_password', { 'resetCode': resetCode })) }}">Click here to reset your password</a>
</p>