{% extends 'layouts/base.html.twig' %}
{% block body %}
<div class="x_panel">
    <div class="x_content">
        <div class="x_title">
            <h3>{ error }</h3>
        </div>
    </div>
</div>
{% endblock %}